{% load static %} <!DOCTYPE html> 
<html> 
    <head> 
        <title>E-Society</title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
    </head> <body> <nav class="navbar"> 
        <div class="logo">E-Society</div> 
        <ul class="nav-links">
             <li><a href="/">Home</a>
            </li>
             <li>
                <a href="#">Pricing</a>
            </li> 
            <li>
                <a href="#">About</a>
            </li>
             <li>
                <a href="#">Contact</a>
            </li>
         </ul> 
         <div class="login-dropdown">
    <button class="login-btn">Log in ▼</button>

    <div class="dropdown-content">
        <a href="/accounts/login/">Resident Login</a>
        <a href="/guard/login/">Guard Login</a>
        <a href="/admin/">Admin Login</a>
    </div>
</div> 
        </nav> 
        {% block content %} {% endblock %} 
    </body>
     </html> 
     