{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero">

<div class="hero-left">

<p class="trial">FREE SOCIETY MANAGEMENT SYSTEM</p>

<h1>
The best way <br>
to manage your <br>
society.
</h1>

<p class="description">
Manage residents, complaints, announcements and maintenance payments easily.
</p>

<div class="hero-buttons">

    <a href="/accounts/signup/" class="primary-btn">Try for free</a>

    <div class="login-dropdown">
        <button class="secondary-btn dropdown-btn">Login ▼</button>

        <div class="dropdown-content">
            <a href="/accounts/login/">Resident Login</a>
            <a href="/guard/login/">Guard Login</a>
            <a href="/admin/">Admin Login</a>
        </div>
    </div>

</div>

</div>

<div class="hero-right">
    <img src="{% static 'images/society.jpg' %}" alt="Society Image">
</div>

</section>

{% endblock %}