{% extends "base.html" %}

{% block content %}

<section class="hero">

<div class="hero-left">

<p class="trial">FREE SOCIETY MANAGEMENT SYSTEM</p>

<h1>
The best way <br>
to manage your <br>
society.
</h1>

<p class="description">
Manage residents, complaints, announcements and maintenance payments easily.
</p>

<div class="hero-buttons">

<a href="/accounts/signup/" class="primary-btn">Try for free</a>

<a href="#" class="secondary-btn">See how it works</a>

</div>

</div>

<div class="hero-right">

<div class="image-placeholder"></div>

</div>

</section>

{% endblock %}